# See runners details:
# https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#preinstalled-software

name: CI

on:
  push:
    branches: ["main", "developmnt"]
  pull_request:

jobs:
  Library-stub:
    name: "Ubuntu-24.04 (profile: ${{ matrix.conan_profile }}, build_type: ${{ matrix.build_type }})"
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        conan_profile:
          - ubu-gcc-14
          - ubu-clang-18
        asio_source:
          - standalone
          - boost
        build_type:
          - Release
          - Debug
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Prepare env
        shell: bash
        run: |
          sudo apt-get -qy install \
          pip install --user conan==2.* conan-package-tools "protobuf>=6,<7" Cheetah3 legacy-cgi
          conan profile detect
          conan config install . -sf conan_profiles -tf profiles

      - name: Run conan install
        shell: bash
        if: matrix.asio_source == 'standalone'
        run: |
          conan install . \
             -pr:a ${{ matrix.conan_profile }} \
             -s:a build_type=${{ matrix.build_type }} \
             --build missing \
             -of _build

      - name: Run conan install (boost::asio)
        shell: bash
        if: matrix.asio_source == 'boost'
        run: |
          conan install . \
             -pr:a ${{ matrix.conan_profile }} \
             -s:a build_type=${{ matrix.build_type }} \
             -o opio/*:asio=boost \
             -o boost/*:header_only=True \
             --build missing \
             -of _build

      - name: Cmake configure
        shell: bash
        run: |
          source ./_build/conanbuild.sh
          cmake -B_build . \
            -DCMAKE_TOOLCHAIN_FILE=_build/conan_toolchain.cmake \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DOPIO_ASIO_SOURCE=${{ matrix.asio_source }}

      - name: Cmake build
        shell: bash
        run: |
          cmake --build _build -j $(nproc) --verbose

      - name: Run ctest
        shell: bash
        run: |
          ctest -T test --test-dir _build
